<footer class="site-footer">
  <div class="wrapper">
    <p class="small">
      {{ site.description | escape }}<br />
      <a href="https://www.instagram.com/veganprestwich/">instagram</a> /
      <a href="https://www.facebook.com/groups/veganprestwich/">facebook</a> /
      <a href="https://anar.chi.st/veganprestwich">pixelfed</a><br />
      <a href="/vegan-business-advice">advice for business owners</a><br />
      <a href="https://git.chobble.com/chobble/vegan-prestwich">site source</a>
      <br />
      no ads / sponsors / tracking / cookies / javascript
      <br />
      <a rel="nofollow" href="https://chobble.com">site by chobble</a>
    </p>
  </div>
</footer>
