{% comment %}
Display reviews for the current place using the computed placeReviews data
{% endcomment %}

{% if placeReviews.size > 0 %}
<div class="reviews">
    {% for review in placeReviews %}
        <p>
            {% if review.url %}
                <a href="{{ review.url }}">[{{ review.date | date: "%B %Y" }}:]</a>
            {% else %}
                [{{ review.date | date: "%B %Y" }}:]
            {% endif %}
            "{{ review.text }}"
        </p>
    {% endfor %}
</div>
{% endif %}