{% comment %}
Display reviews for the current place using the computed placeReviews data
{% endcomment %}

{% if placeReviews.size > 0 %}
    {% for review in placeReviews %}
        <p>
            {% if review.url %}
                <a href="{{ review.url }}">{{ review.date | date: "%B %Y" }}:</a>
            {% else %}
                {{ review.date | date: "%B %Y" }}:
            {% endif %}
            "{{ review.text | newline_to_br }}"
        </p>
    {% endfor %}
{% endif %}