<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ page.title }}",
        {% if page.email %}"email": "{{ page.email }}",{% endif %}
        {% if page.phone %}"telephone": "{{ page.phone }}",{% endif %}
        {% if page.web %}"url": "{{ page.web }}",{% endif %}
        {% if page.facebook or page.google %} "sameAs": [
            {% if page.facebook %}"{{ page.facebook }}"{% endif %}
        ],{% endif %}
        {% if page.google %}"hasMap": "{{ page.google }}",{% endif %}
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "{{ page.address}}",
            "addressLocality": "Prestwich",
            "addressRegion": "Manchester",
            "postalCode": "{{ page.postcode }}"
        }
    }
</script>