---
layout: default
---

<h1>{{ title | escape }}</h1>

<div class="content">
  {{ content }}
  {{ foo | json }}
  {% if show %}
    <hr>
    {% include "filtered-places", show: collections[show], detailed: true %}
    <hr>
  {% endif %}

  {% include "contribute.html" %}
</div>
