---
layout: default
---

{% include "place-json-ld.html" %}

<h1>{{ page.name | escape }}</h1>

<div class="content">
    {% include "place-meta.html" %}
    {{ content }}

    <p>
        <small>
            <strong>Last Updated:</strong> {{ page.last_modified_at | date: "%-d %B %Y" }}
        </small>
    </p>

    <div class="place-images">
    {% assign place_images = site.static_files | where: "place_image", true | reverse %}
    {% for image in place_images %}
        {% assign end_image_index = image.path.size | minus: 22 %}
        {% assign search_image = image.path | slice: 15, end_image_index %}

        {% assign end_page_index = page.path.size | minus: 11 %}
        {% assign search_page = page.path | slice: 8, end_page_index %}
        
        {% if search_image == search_page %}
            <a href="{{image.path}}" style="background-image: url('{{ image.path }}')" title="{{ page.title }}"></a>
        {% endif %}
    {% endfor %}
    </div>

    <p>
        <small class="place-tags">
            Tags:
            {% assign tags = page.tags | sort %}
            {% for tag in tags %}{% unless forloop.first %}, {% endunless %}
                {% assign tag_page = site.tags | where: "slug", tag | first %}
                {% if tag_page %}<a href="{{ tag_page.url }}">{% endif %}{{ tag }}{% if tag_page %}</a>{% endif %}{% endfor %}
        </small>
    </p>
</div>
