---
layout: default
title: Tag
---

{{content}}

<h4>
    Tag List
</h4>

{% assign rawtags = "" %}
{% for place in collections.places %}
    {% assign ttags = place.data.tags | join:'|' | append:'|' | remove: "places" %}
    {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign show_tags = "" %}
{% for tag in rawtags %}
    {% if tag != "" %}
        {% if show_tags == "" %}
            {% assign show_tags = tag | split:'|' %}
        {% endif %}
        {% unless show_tags contains tag %}
            {% assign show_tags = show_tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}

<div class="columns">
    <ul>
        {% for tag in show_tags %}
           {% assign tag_page = null %}
           {% for col_tag in collections.tag_pages %}
                {% if col_tag.data.show == tag %}
                    {% assign tag_page = col_tag %}
                {% endif %}
           {% endfor %}
            <li class="avoid-break">
            {% if tag_page != null %}<a href="{{ tag_page.url }}">{% endif %}
                {{ tag | capitalize }}
            {% if tag_page %}</a>{% endif %}
            <ul class="small">
            {% for place in collections.sorted_places %}
                {% if place.data.tags contains tag %}
                    {% include "filtered-place", place: place, detailed: false %}
                {% endif %}
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
